.rota {
    margin: 2rem 0;
    background-image: url("../../assets/images/footballPitch.png");
    background-repeat: no-repeat;
    background-size: 100%;
    min-width: 30rem;
    min-height: 50rem;
}