.player {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 6rem;
    background-color: white;
    border: 0.5px solid lightgray;
    box-shadow: 1px 0 7px;
    margin: 0.5rem 0;
    padding: 0.5rem 0.5rem 0 0.5rem;
    text-align: center;
    justify-items: center;
    &__pic {
        height: 6rem;
    }
    &__name, &__nationality, &__position {
        font-size: 0.8rem;
        height: 4rem;
        display: flex;
        align-items: center;
        font-weight: 400;
    }
}