.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    margin: 1rem;
    padding: 0.5rem;
    width: 9rem;
    height: 9rem;
    border-radius: 10rem;
    &__heading {
        font-weight: bolder;
        font-size: 1rem;
    }
    &__details {
        font-size: 0.8rem;
        font-weight: 300;
        &--temp, &--humidity, &--minTemp, &--maxTemp {
            margin: 0.1rem 0;
            text-align: center;
        }
    }
}